@{
    ViewBag.Title = "Хозяева Собак";
}
<h2>@ViewBag.Title.</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Имя</th>
    </tr>
    @foreach (var x in ViewBag.Owners)
    {
        <tr>
            <th>@x.Name</th>
        </tr>
    }
</table>
